.sidenav {
    width: 380px;
    height: 100vh;
    color: #BCBCBC;
    background-color: #000;
    position: sticky;
    overflow: hidden;
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: inset 0px 4px 8px rgba(252, 252, 252, 0.37);
}

.sidenav__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidenav__wrapper--links {
    padding-top: 100px;
    display: block;
    width: 100%;
}
.sidenav__wrapper--link {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 25px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div {
        display: none;
        width: 8px;
        height: 28px;
        background: transparent;
        box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
        border-radius: 40px;
        
    }
    img {
        margin-left: 8px;
        display: inline-block;
    }
    span {
        display: inline-block;
        margin: 16px;
    }
    &:hover {
        color: #fff;
        cursor: pointer;
        div {
            display: inline-block;
        }
    }
}

.active {
    color: #fff;
    cursor: pointer;
    div {
        display: inline-block;
    }
}
