.metamask {
    width: 295px;
    height: 90px;
    background: #000000;
    box-shadow: inset 0px 4px 26px rgba(252, 252, 252, 0.25);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.metamask__wrapper {
    display: flex;
    align-items: center;
}

.metamask__wrapper--hash {
    margin-left: 15px;
    color: #fff;
    font-weight: 800;
    font-family: "Futura", sans-serif;
    font-size: 20px;
}